In [1]:
import pandas as pd

In [6]:
cc = pd.read_csv("cc_institution_details.csv", encoding= 'unicode_escape')
pd = pd.read_csv("Placement_Data_Full_Class.csv", encoding= 'unicode_escape')

In [7]:
cc.describe()

,unitid,long_x,lat_y,student_count,awards_per_value,awards_per_state_value,awards_per_natl_value,exp_award_value,exp_award_state_value,exp_award_natl_value,...,vsa_grad_elsewhere_after4_transfer,vsa_enroll_after4_transfer,vsa_enroll_elsewhere_after4_transfer,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,state_sector_ct,carnegie_ct,cohort_size
count,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3798.000000,3.798000e+03,3798.000000,3798.000000,...,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,3798.000000,3798.000000,3467.000000
mean,226063.790416,-91.030391,38.134044,4476.135334,23.435176,22.845656,22.484044,6.507447e+04,61282.189837,60903.577672,...,6.442222,12.233704,8.641852,57.960370,9.705926,3.001481,5.909630,34.284360,232.557662,658.306028
std,105065.777685,15.684064,5.040303,7376.868923,10.615140,6.322818,4.770449,1.074379e+05,33295.027077,29892.281333,...,3.606922,6.220198,3.919950,16.368681,4.641213,2.158996,2.988662,28.311303,156.960653,961.782580
min,100654.000000,-159.395966,19.699720,23.000000,0.500000,3.200000,16.500000,0.000000e+00,12346.000000,24795.000000,...,-13.400000,0.000000,0.000000,0.000000,-9.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,155063.250000,-97.294767,34.299610,581.250000,17.300000,19.300000,21.500000,3.231125e+04,35830.000000,37780.000000,...,4.700000,8.325000,6.200000,51.050000,7.500000,1.525000,4.200000,14.000000,106.000000,131.000000
50%,198075.000000,-86.828840,38.988143,1794.500000,21.300000,22.200000,22.500000,5.057850e+04,54025.000000,38763.000000,...,6.400000,11.800000,8.300000,59.500000,9.700000,2.700000,5.700000,25.000000,169.000000,356.000000
75%,233745.000000,-79.966228,41.633128,5172.000000,26.500000,24.200000,24.600000,7.693025e+04,79310.000000,101725.000000,...,7.800000,15.075000,10.800000,68.075000,11.900000,3.900000,7.200000,48.000000,343.000000,782.500000
max,475291.000000,-67.243306,71.324702,170144.000000,137.600000,59.900000,32.800000,5.282095e+06,188870.000000,101725.000000,...,29.800000,64.500000,25.300000,89.300000,32.000000,17.200000,21.300000,116.000000,517.000000,16229.000000

In [25]:
cc1 = cc.dropna(thresh=len(cc.index)/2, axis=1, inplace=False)

In [26]:
dropped = [c for c in cc.columns if c not in cc1.columns]
dropped

['hbcu',
 'flagship',
 'med_sat_value',
 'med_sat_percentile',
 'vsa_year',
 'vsa_grad_after4_first',
 'vsa_grad_elsewhere_after4_first',
 'vsa_enroll_after4_first',
 'vsa_enroll_elsewhere_after4_first',
 'vsa_grad_after6_first',
 'vsa_grad_elsewhere_after6_first',
 'vsa_enroll_after6_first',
 'vsa_enroll_elsewhere_after6_first',
 'vsa_grad_after4_transfer',
 'vsa_grad_elsewhere_after4_transfer',
 'vsa_enroll_after4_transfer',
 'vsa_enroll_elsewhere_after4_transfer',
 'vsa_grad_after6_transfer',
 'vsa_grad_elsewhere_after6_transfer',
 'vsa_enroll_after6_transfer',
 'vsa_enroll_elsewhere_after6_transfer',
 'nicknames']

In [30]:
cc1.columns

Index(['unitid', 'chronname', 'city', 'state', 'level', 'control', 'basic',
       'long_x', 'lat_y', 'site', 'student_count', 'awards_per_value',
       'awards_per_state_value', 'awards_per_natl_value', 'exp_award_value',
       'exp_award_state_value', 'exp_award_natl_value', 'exp_award_percentile',
       'ft_pct', 'fte_value', 'fte_percentile', 'aid_value', 'aid_percentile',
       'endow_value', 'endow_percentile', 'grad_100_value',
       'grad_100_percentile', 'grad_150_value', 'grad_150_percentile',
       'pell_value', 'pell_percentile', 'retain_value', 'retain_percentile',
       'ft_fac_value', 'ft_fac_percentile', 'similar', 'state_sector_ct',
       'carnegie_ct', 'counted_pct', 'cohort_size'],
      dtype='object')